@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Roboto:wght@300;400;500&display=swap') * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --light-blue: #45affa;
  --dark-blue: #3366f3;
  --gray: #808080;
  --white: #ffffff;
}
body {
  font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}
.header {
  width: 100%;
}
.flex {
  display: flex;
  flex-direction: row;
}
.heaer__nav {
  width: 60%;
  margin: auto;
  padding-top: 2%;
}
nav {
  justify-content: space-evenly;
  align-items: center;
}
.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
}
nav ul {
  flex: 2;
}
nav ul li {
  padding: 0 3%;
  list-style: none;
  font-size: 1rem;
}
li:hover {
  color: var(--light-blue);
  font-weight: 700;
  cursor: pointer;
}

.header__main {
  width: 60%;
  margin: auto;
}

.header__text,
.header__img {
  width: 50%;
  padding: 5%;
}
.header__text h2 {
  font-size: 2rem;
  padding-bottom: 2%;
}

.header__text p {
  color: var(--gray);
  font-size: 1rem;
  padding-bottom: 4%;
}
.btn {
  border: 0.5px solid var(--light-blue);
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--dark-blue);
  font-weight: 700;
}
.btn:hover {
  background-image: linear-gradient(
    to top left,
    var(--dark-blue),
    var(--light-blue)
  );
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
  color: var(--white);
}
.header__img img {
  width: 40rem;
  height: 25rem;
}
.services {
  width: 100%;
}
.service__container {
  margin: auto;
  width: 60%;
}
.services__intro {
  padding: 5%;
  margin: auto;
}
.services__intro-text,
.services__intro-text-sm {
  width: 50%;
}
.services__intro-text h3 {
  font-size: 2rem;
}
.services__intro-text-sm p {
  font-size: 1.5rem;
  color: var(--gray);
}
.services__intro-card,
.services__intro-card-row-1,
.services__intro-card-row-2 {
  margin-top: 5%;
}
.card {
  padding: 5%;
}
.icon {
  font-size: 4rem;
  color: var(--light-blue);
}
.card h4 {
  font-size: 1.5rem;
}
.card p {
  color: var(--gray);
  font-size: 1rem;
}
.pricing {
  background-image: linear-gradient(
    to top left,
    var(--dark-blue),
    var(--light-blue)
  );
}
.pricing__container-main {
  width: 60%;
  margin: auto;
}
.pricing__container {
  align-items: center;
  justify-content: space-evenly;
}
.pricing__Heading {
  text-align: center;
  padding: 2% 0;
  color: var(--white);
  font-size: 2rem;
}
.pricing__card {
  background-color: var(--white);
  padding: 3%;
  margin-bottom: 4%;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  width: 12rem;
}

.pricing__card:hover {
  background-color: #000000;
  color: var(--white);
}
.card__text h4 {
  font-size: 1.3rem;
}
.card__text p {
  font-size: 0.8rem;
  color: var(--gray);
}
.card__text-sm {
  padding: 2% 0;
}
.fa-circle-check {
  padding: 0 5%;
  color: rgb(112, 196, 112);
}
.card__text-sm h5 {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--gray);
}
.price {
  text-align: center;
  padding-top: 4%;
}
.price h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.price span {
  color: var(--gray);
}
.price p {
  color: var(--gray);
  font-size: 0.8rem;
  padding-bottom: 4%;
}
.review__card-box {
  width: 60%;
  margin: auto;
}
.review__heading {
  text-align: center;
  padding-top: 7%;
}
.review__heading h3 {
  font-size: 2rem;
}
.review__heading p {
  font-size: 0.9rem;
  color: var(--gray);
  padding-bottom: 3%;
}
.review__card-row-1,
.review__card-row-2 {
  justify-content: space-between;
}
.review__card {
  padding: 3%;
  margin: 2%;
  border: 0.2px solid rgb(231, 231, 231);
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  width: 45%;
}
.round__img {
  width: 4rem;
  height: 4rem;
  background-color: var(--gray);
  border-radius: 100%;
  margin: auto 10% auto 0;
}
.review__card p {
  font-size: 0.9rem;
  padding-bottom: 2%;
  color: var(--gray);
}
.review__customar h4 {
  font-size: 1rem;
}
.banner__bottom {
  position: relative;
  width: 100;
  height: 20vh;
  margin-top: 8%;
  background-image: linear-gradient(
    to top left,
    var(--dark-blue),
    var(--light-blue)
  );
}
.banner__container {
  width: 60%;
  margin: auto;
  z-index: 2;
}
.banner__text,
.banner__btn {
  width: 50%;
}
.banner__btn {
  margin: auto;
  text-align: right;
}
.btn-transparent {
  padding: 1rem;
  border: 0.5px solid var(--white);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  font-weight: 700;
}

.banner__text h3 {
  font-size: 2rem;
  color: var(--white);
}
.banner__text p {
  font-size: 0.8rem;
  color: var(--white);
}
.background {
  width: 10rem;
  height: 10rem;
  background-color: #ffffff2f;
}
.design-1 {
  position: absolute;
  right: 5%;
  transform: rotate(35deg);
}
.design-2 {
  position: absolute;
  right: 35%;
  top: 35%;
  transform: rotate(50deg);
}
.design-3 {
  position: absolute;
  left: 5%;
  top: 15%;
  transform: rotate(15deg);
}
footer {
  margin-top: 8%;
}
.footer__container {
  width: 60%;
  margin: auto;
  justify-content: space-evenly;
}

.font h4 {
  font-size: 1rem;
}
.font p {
  font-size: 0.8rem;
  color: var(--gray);
}
.font p:hover {
  cursor: pointer;
  color: var(--dark-blue);
}
.footer__social-icon i {
  font-size: 1.2rem;
  color: var(--light-blue);
  margin: 0 4%;
}
.footer__logo,
.footer__social-icon,
.footer__manue,
.footer__overview,
.footer__links {
  width: calc(100% / 5);
  padding: 3%;
}
